* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  z-index: 5000;
  width: 450px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  .id-section {
    width: 100%;
    height: 45px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-bottom: 3px solid #fff;
    background-color: transparent;
    padding-left: 24px;
    &::placeholder {
      color: #fff;
      font-size: 20px;
    }
  }
  .pw-section {
    width: 100%;
    height: 45px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-bottom: 3px solid #fff;
    background-color: transparent;
    margin-top: 40px;
    padding-left: 24px;
    &::placeholder {
      color: #fff;
      font-size: 20px;
    }
  }
  .login-keep {
    font-size: 18px;
    margin-top: 10px;
    img {
      padding-left: 24px;
      vertical-align: middle;
    }
    span {
      color: #fff;
      padding-left: 15px;
    }
  }
  .btn-login {
    width: 100%;
    height: 70px;
    border: none;
    margin-top: 50px;
    background: #fecd4a;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
  .auth-footer {
    width: 100%;
    margin-top: 20px;
    padding-left: 40px;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    .img {
      width: 48px;
      height: 48px;
    }
    > .href {
      padding-right: 40px;
    }
    .href + .href {
      padding: 0 40px;
      border-left: solid 1px #fff;
    }
    .href {
      display: inline-block;
      text-decoration: none;
      background-color: inherit;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .href:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}
