.nav-list{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    height: 100%;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    .nav-item{
        text-align: center;
        height: 100%;
        max-width: 180px;
        cursor: pointer;
        .nav-link{
            .icon{
                position: relative;
                top: 16px;
                width: 48px;
                height: 48px;
                fill: #9aaaae;
            }
            .nav-title{
                transition: all .3s ease-in-out;
                color: #9aaaae;
            }
        }
        &:hover{
            .icon{
                fill: #ffcd36;
            }
            .nav-title{
                color: #ffcd36;
            }
        }
    }
}
@media (max-width: 768px) {
    .nav-title {
        display: none;
    }
    .icon{
        width: 24px;
        height: 24px;
    }
}