.main{
    background-image: url('../images/bugatti_bg.png');
    width: 100%;
    height: 650px;
    .header{
        position: relative;
        width: 100%;
        height: 150px;
        color: white;
        //header__logo 작업오야지
        .header__title{
            position: absolute;
            transform: translateX((-50%));
            left: 50%;
            font-size: 50px;
            font-weight: bold;
        }
        .header__login{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
            width: 120px;
            height: 35px;
            .login-button{
                position: absolute;
                width: 100%;
                font-size: 25px;
                color: #9aaaae;
                text-align: center;
                text-decoration: none;
                border: 1px solid black;
                border-radius: 5px;
                transition: all .5s;
                &:hover{
                    background-color: #ffcd36;
                    color: black;
                }
            }
        }
    }
    .sportscar {
        position: relative;
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 300px;
        justify-content: center;
        .bugatti {
            top:15%;
            width: 600px;
            position: absolute;
            transition: all .2s ease-in-out;
            &:hover{
                cursor: pointer;
                transform: scale(0.9);
            }
            .bugatti_body{
                width: 100%;
                height: 100%;
            }
            .bugatti_tire{
                position: absolute;
                width: 17%;
                height: 57%;
                top: 45%;
                left: 12%;
                transition: all .3s ease-in-out;
            }
            .bugatti_tire2{
                position: absolute;
                width: 17%;
                height: 57%;
                top: 45%;
                right: 8%;
                transition: all .3s ease-in-out;
            }
            .loading{
                transform: rotate(-360deg);
            }
        }
    }
    .nav__menu{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        li{
            border: 1px solid #ffcd36;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin-right: 50px; // 사이에만 margin생기도록 수정할 것
            margin-left: 50px;// 사이에만 margin생기도록 수정할 것
            transition: all .3s ease-in-out;
            .nav__image{
                margin-top: 32px;
                svg{
                transition: all .3s ease-in-out;
                    width: 48px;
                    height: 48px;
                    fill: #ffcd36;
                }
            }
            .nav__explain{
                color: #ffcd36;
                font-weight: bold;
            }
            a{
                text-decoration: none;
            }
            &:hover{
                cursor: pointer;
                background-color:  #ffcd36;
                color: black;
                .nav__image{
                    svg{
                        transform: scale(1.5);
                        fill: black;
                    }
                }
                .nav__explain{
                    color: black;
                }
            }
        }
    }
}

