.search-container{
    position: absolute;
    z-index: 1000;
    left: -350px;
    bottom: 0;
    width: 350px;
    top: 10vh;
    transition: all .3s ease;
    pointer-events: none;
    .search-header{
        padding: 8px 12px;
        text-align: center;
        color: black;
        pointer-events: auto;
    }
    .on-search{
        position: absolute;
        width: 24px;
        height: 48px;
        border: 1px solid black;
        border-radius: 3px;
        top: 36px;
        left: 350px;
        background-color: white;
        cursor: pointer;
        box-shadow: 0.5px 0.5px 3px;
        pointer-events: auto;
        .icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 48px;
        }
    }
    .location-button{
        display: flex;
    }
}
.seen{
    left: 0px;
}

@media screen and (max-width: 768px){
    .search-container{
        width: 100%;
    }
    .on-search{
        display: none;
    }
}