.search-container{
    float: left;
    width: 300px;
    height: 100%;
    .search-header{
        padding: 8px 12px;
        text-align: center;
        color: white;
        background-color: #258fff;
    }
}

// @media screen