.location-page{
    position: absolute;
    width: 360px;
    height: 88vh;
    top: 12vh;
    right: 0;
    padding: 4px 8px;
    .location-container{
        position: relative;
        width: 100%;
        height: 100%;
        .searchbar{
            position: absolute;
            top: 3px;
            z-index: 1500;
        }
        #kakaomap{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

}